p{
  text-align: center;
  text-transform: capitalize;
  font: size 200px; 
  padding: 20,200;
}
.content{
  display: flex;
  justify-content: center;
  flex-direction:row;
  
}
.card{
  background-color: aliceblue;
  margin: 15px;
  
}
.link{
  size: 400px;
}